//*********************
//VARIABLES
//*********************
// COLORS--------------
$panel-1-bg-callback: #c0c0c0;
$section-title-main: #fff;
$section-title-second: #4a4a4a;
$section-title-compl: #78bdf2;
$text-shadow-dark: #000;

$twitter-color: #4099ff;
$github-color: #000;
$github-bg-color: #fff;
$github-bg: 0 0 2px $github-bg-color;
$facebook-color: #3b5998;
$youtube-color: #e52d27;
$navbar-color: #e7faff;
$selection: rgba(237, 100, 0, .4);

// SIZES--------------
$arrow-size: 2.5rem;
$contacts-size: 1.5em;

$bg-icons-color: rgba(0, 0, 0, .07);

$items-border: #979797;

$transition-general: 200ms;

$global-padding-mobile: .5em;
//*********************
//BREAKPOINTS
//*********************
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }@else if $point == mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}
