// http://codepen.io/joe-watkins/pen/Emzxf

.nav-bar {
  $border-bottom: 1px solid darken($header-color, 15%);

  background: $header-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      flex: 1;
      min-width: min-content;

      @include breakpoint(mobile) {
        border-bottom: $border-bottom;
      }
    }

    a {
      color: $section-title-main;
      display: block;
      padding: .55em 1em;
      text-align: center;
    }
  }

  .logo {
    flex: 10;

    @include breakpoint(mobile) {
      display: none;
    }

    a {
      text-align: left;
    }
  }

  .trigger {
    left: -9999px;
    position: absolute;
    top: -9999px;
    &:checked ~ ul,
    &:checked ~ ul li ul {
      display: block;

      @media (min-width:$mobile) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  label {
    cursor: pointer;
    display: block;
    line-height: 2em;
    margin: 0;
    padding: .5em;
    position: relative;

    @include breakpoint(mobile) {
      border-bottom: $border-bottom;
    }

    &::after {
      color: $section-title-main;
      content: '\2261';
      font-size: 1.8em;
      position: absolute;
      right: 1em;
      top: .2em;
    }

    a {
      color: $section-title-main;
    }
  }

  @media(min-width: $mobile) {
    ul {
      align-items: baseline;
      display: flex;
      flex-direction: row;

      li {
        flex: 1;
        position: relative;
        text-align: center;
      }
    }

    label {
      display: none;
    }
  }
}
