.navbar {
  ul {
    align-items: baseline;
    background: $header-color;
    border-bottom: 2px solid darken($section-title-main, $dark-percentage);
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: .2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .nav-item {
    display: inline-block;
    flex-grow: 1;
    padding: .5em;

    @include breakpoint(mobile) {
      // AÑADIR CLASES PARA MOSTRAR Y NO MOSTRAR SEGÚN SEA PULSADO UN BOTON DE MENÚ, EN MAIN.JS
      // display: none;
    }

    &:first-child {
      flex-grow: 1000;

      @include breakpoint(mobile) {
        display: inline-block;
      }
    }
  }

  .logo {
    @include breakpoint(mobile) {
      &:hover {
        color: red;
      }
    }
  }
}
