.panel-4 {
  $padding: 1em;
  background-color: $section-title-main;
  overflow: hidden;

  .who-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    @include breakpoint(tablet) {
      flex-direction: column;
    }
  }

  .item {
    $shadows: 0 1px 5px $items-border;
    $shadower: 0 3px 8px darken($items-border, 35%);
    box-shadow: $shadows;
    flex: 1;
    margin: .5em 1em;
    max-width: 30%;
    padding: .5em;
    transition: box-shadow $transition-general;

    @include breakpoint(tablet) {
      margin: {
        left: 0;
        right: 0;
      }
      max-width: 100%;
    }

    &:hover {
      box-shadow: $shadower;

      @include breakpoint(mobile) {
        box-shadow: $shadows;
      }
    }

    h3 {
      margin: .8em 0;
      text-align: center;
      text-decoration: underline;

      @include breakpoint(tablet) {
        float: left;
        padding-left: $padding;
      }

      @include breakpoint(mobile) {
        // font-size: em;
        float: none;
        padding-left: 0;
      }
    }

    img {
      $scale: .8;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      height: 250px;
      max-width: 100%;
      transform: scale($scale, $scale);

      @include breakpoint(tablet) {
        display: none;
      }
    }

    .description {
      clear: both;
      padding: 0 $padding $padding;
    }
  }

  .contact-list {
    display: flex;
    justify-content: center;
    padding: 0;

    @include breakpoint(tablet) {
      float: right;
      padding-right: $padding;
    }

    @include breakpoint(mobile) {
      float: none;
      padding-right: 0;
    }

    li {
      list-style: none;
      padding: 0 .3em;

      @include breakpoint(mobile) {
        flex-grow: 1;
        text-align: center;
      }
    }

    .fa {
      font-size: $contacts-size;

      @include breakpoint(mobile) {
        font-size: $contacts-size + .8em;
      }
    }

    .fa-twitter {
      color: $twitter-color;
    }

    .fa-envelope-o {
      color: $section-title-second;
    }

    .fa-facebook-official {
      color: $facebook-color;
    }
  }
}
