.panel-3 {
  $bg-icons-margin: 10px;
  $bg-icons-size: 15rem;
  background-color: $section-title-compl;
  position: relative;
  z-index: -1;

  figure {
    margin: 0;

    > figcaption::before {
      content: '\f04b';
      font-family: FontAwesome;
      font-size: .8em;
    }

    &:hover > figcaption::before {
      content: '\f04d';
      font-family: Fontawesome;
    }
  }

  // SLIDESHOW FROM https://github.com/leemark/better-simple-slideshow
  .bss-slides {
    @include breakpoint(mobile) {
      //take all space, body padding included
      margin: - $global-padding-mobile;
    }
  }

  .section-title {
    text-align: right;
  }

  .fa {
    color: $bg-icons-color;
    display: inline-block;
    font-size: 25rem;
    position: absolute;
    z-index: -1;

    @include breakpoint(tablet) {
      font-size: 15rem;
    }
  }

  .fa-file-image-o {
    right: $bg-icons-margin;
    top: $bg-icons-margin;

    @include breakpoint(tablet) {
      right: calc(50% - #{$bg-icons-size}/2);
      top: 0;
    }
  }

  .fa-film {
    bottom: $bg-icons-margin;
    left: $bg-icons-margin;

    @include breakpoint(tablet) {
      bottom: 0;
      left: calc(50% - #{$bg-icons-size}/2);
    }
  }
}
