.panel-2 {
  background-color: $section-title-main;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  z-index: -1;

  .container {
    $margin: .6em;
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    @include breakpoint(tablet) {
      align-items: stretch;
      flex-direction: column;

      .first {
        margin-right: 0;
      }

      .last {
        margin-left: 0;
      }
    }

    .first {
      margin-right: $margin;
    }

    .last {
      margin-left: $margin;
    }
  }

  .fa-cog {
    color: $bg-icons-color;
    display: inline-block;
    font-size: 25rem;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: -1;

    @include breakpoint(tablet) {
      font-size: 15rem;
      right: 0;
      top: 0;
    }
  }
}
