@import url('https://fonts.googleapis.com/css?family=Muli:400,300');

html {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 200;
  @include breakpoint(mobile) {
    p,
    input,
    label {
      font-size: 1.2em;
    }
  }
}

.panel-1 {
  color: $section-title-main;
  text-shadow: 0 0 .5em $text-shadow-dark;
  h1 {
    font-size: 4.3rem;
    @include breakpoint(mobile) {
      font-size: 3.5rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    @include breakpoint(mobile) {
      font-size: 1rem;
    }
  }
  i {
    font-size: 2.8rem;
  }
  .my-arrow {
    i {
      color: $navbar-color;
      font-size: $arrow-size;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.section-title {
  font-size: 3rem;
}

.panel-2 {
  h1 {
    color: $section-title-compl;
  }
}
.panel-3 {
  h1 {
    color: $section-title-main;
  }
}
.panel-4 {
  h1 {
    color: $section-title-compl;
  }
  h3 {
    font-size: 1.4rem;
    @include breakpoint(mobile) {
      font-size: 1.8em;
    }
  }
}
.panel-5 {
  p {
    color: $section-title-main;
  }
}
