@import 'normalize';
@import 'bits';
@import 'better-simple-slideshow';
@import 'typography';
@import 'header';
@import 'footer';
@import 'panel-1';
@import 'panel-2';
@import 'panel-3';
@import 'panel-4';
@import 'panel-5';
@import 'panel-6';

html {
  height: 100%;
}

body {
  height: 100%;

  ::selection {
    background: $selection;
  }

  > div {
    padding: 1.5em;

    @include breakpoint(mobile) {
      padding: $global-padding-mobile;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 850px;
}

.top {
  margin-top: 3em;
}

.panel {
  transition: $transition-general;

  .section-title {
    @include breakpoint(tablet) {
      text-align: center;
    }
  }
}

.components,
.circuits,
.code {
  text-align: justify;

  img {
    display: block;
    margin: 0 auto;
    max-height: 20em;
    max-width: calc(100% - 3em);
    padding: 2em;

    @include breakpoint(tablet) {
      max-width: 100%;
      padding: 0;
    }
  }
}
